<section ng-controller="contestsController" ng-init="init()" class="col-md-offset-1">
  <div class="row">
    <h2 class="col-md-6 contest-header">
      <div id="{{header.id + '-text'}}" ng-hide="header.edit" ng-bind="header.text" ng-click="startEdit(header)">{{header.text}}</div>
      <form ng-show="header.edit" ng-submit="finishEdit(header)">
        <input class="form-control" id="{{header.id + '-edit'}}" type="text" ng-model="header.text" placeholder="Enter a title"/>
      </form>
    </h2>  
    <div class="col-md-4">
      <button class="btn btn-success save-btn" ng-click="save()">Save Contest</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success save-btn" ng-click="download()">Down</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success save-btn" ng-click="shuffle()">Supp</button>
    </div>
  </div>
  
  <br>

  <div class="container col-md-10 questions">
    <div ng-repeat="question in questions" class="question">
      <div class="row">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="question.edit = !question.edit"></span>  
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteQuestion(questions, $index)"></span>  
        <span ng-hide="question.edit"><b>{{($index + 1).toString() + "." + question.text}}</b></span>
        <form style="display:inline" ng-show="question.edit" ng-submit="question.edit = !question.edit"><input ng-model="question.text" class="question-input"></input></form>
      </div>
      <br>
      <div class="col-md-offset-1" ng-repeat="choice in question.choices">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="choice.edit = !choice.edit"></span>  
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteChoice(question, $index)"></span>  
        <button class="btn-xs" ng-class="{'btn-success': choice.correct, 'btn-defaut': !choice.correct}" ng-click="toggleChoice(choice)"><b>{{chr[$index] + "."}}</b></button>
        <span ng-hide="choice.edit" ng-click="toggleChoice(choice)">{{choice.text}}</span>
        <form style="display:inline" ng-show="choice.edit" ng-submit="choice.edit = !choice.edit"><input ng-model="choice.text" class="choice-input"></input></form>
      </div>
      
      
      
      <form class="col-md-offset-1" ng-submit="addNewChoice(question, question.currentText)">
        <input class="form-control" id="{{question.id}}" type="text" ng-model="question.currentText" placeholder="Enter a choice"/>
      </form>   
      <br>
    </div>

    <form ng-submit="addNewQuestion(currentText)">
        <input class="form-control" type="text" ng-model="currentText" placeholder="Enter a question"/>
    </form>

    <br>

    <form ng-submit="addNewQuestionFromText()">
        <textarea class="form-control" rows="5" ng-model="textSample" placeholder="Add questions from text"></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="row" style="height: 300px"></div>
  </div>


</section>
