<section ng-controller="listContestsController" ng-init="find()">
  <div class="page-header">
    <h1> List of contests</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="contest in contests" class="list-group-item" 
      href="{{'/do/' + contest._id}}">
      <div class="control-icon">
        <a class="btn btn-primary" href="{{'/edit/' + contest._id}}">
          <i class="glyphicon glyphicon-list-alt"></i>
        </a>
        <a class="btn btn-primary" href="{{'/edit/' + contest._id}}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <small class="list-group-item-text contest-date">
        <span ng-bind="contest.dateCreated | date:'mediumDate'"></span>
        by
        <span ng-bind="contest.creator.displayName"></span>
      </small>
      <a href="{{'/do/' + contest._id}}"><h3 class="list-group-item-heading" ng-bind="contest.header"></h3></a>
      <span class="list-group-item-text">ID: </span>
      <span class="list-group-item-text" ng-bind="contest._id"></span>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="!contests.length">
    No contest
  </div>
</section>
