<section id="description">
<span href="/" class="express">Qzy</span>
<div id="conference">
<a href="http://events.linuxfoundation.org/events/node-interactive">
<!--<div stye="width: 500px; heigth: 500px; background-image: url('http://ekit.co.uk/GalleryEntries/eCommerce_solutions_and_services/MedRes_Product-presentation-2.jpg?q=27012012153123')"> 
</div> -->
<img src="modules/core/client/img/intro.jpg" style="width: 800px; height: 450px; position: relative; left: 100px">
</a>
</div>
<span class="description" style="font-size: 40px">Create, import, export, automatically mark and analyse the result of multiple choice tests.</span>
</section>

<div id="boxes" class="clearfix">
<div id="web-applications">
<h3>User-friendly</h3> Qzy is easy to learn with simple and clean interface.
</div>
<div id="apis">
<h3>Efficient</h3> Type multiple choices question at a high speed with only keyboard. Easily add, modify, remove questions and choices.
</div>
<div id="performance">
<h3>Utility</h3> Provide users powerful tools: import contests with copy
-paste, shuffle and export questions to Word document format.
</div>
<div id="performance">
<h3>Adaptive learning</h3> 
Analyse your exam results to give proper curriculum and training without making you bored</a>
</div>
</div>

<!-- Analyse text from your exam paper to create online test with multiple choices quizzes-->