.contest-header {
	margin-left: 20px;
}

#header-edit {
	font-size: 24px;
}

.question {
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.question {
	font-size: 16px;
}

.correctChoice {
	background-color: #33cc33;
}

.save-btn {
	bottom: -20px;
	right: -95px;
	width: 200px;
	position: relative;
}

.student-submit {
	width: 200px;
}

.score {
	font-size: 20px;
	color: red;
	position: relative;
	right: -180px;
	bottom: -40px;
}	

.control-icon{
	position: relative;
	right: -970px;
	bottom: -50px;
}

.contest-date {
	position: relative;
	bottom: 40px;
}

.choice-input {
	width: 500px;
}

.question-input {
	width: 770px;	
}

.answer-detail {
	margin-bottom: 5px;
}

.detail-ctn {
	background-color: #f8ecc2;
	border-radius: 15px 50px 30px 5px;
	height: 600px;
}